body{
    background: linear-gradient(skyblue, white); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-style: ridge;
    border-width: 5px;
    border-radius: 10px;
    padding: 10px;
    }
h1{
    background-color: gray;
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Press Start 2P";
    border-style: ridge;
    border-width: 5px;
    padding: 8px;
    }
h2{
    background-color: gray;
    color: white;
    font-size: small;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Press Start 2P";
    font-size: medium;
    border-style:ridge;
    border-width: 5px;
    padding:10px;
    }
p{
    background-color: gray;
    color: limegreen;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Press Start 2P";
    border-style: ridge;
    border-width: 5px;
    padding: 8px;
    }
.button-container {
    display: flex;
    font-family: "Press Start 2P";
    }
button{color:limegreen;
    background-color: gray;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Press Start 2P";
    border-style: ridge;
    border-width: 5px;
    border-color: silver;
    padding: 8px;
    }
button:hover{
    color:skyblue;
}